# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env
.flaskenv

# Database
*.db
*.sqlite3
instance/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

uploads/
!uploads/.gitkeep #keep structure of uploads folder